
.primary-btn {
    @apply text-sm text-gray-50 w-max py-2 px-3.5 rounded-3xl bg-[--primary-color] shadow-md shadow-black/10
    active:scale-95 transition-all duration-300 active:shadow-black/5 hover:bg-[--primary-color-dark] font-[vazir];
}

.typogrophy-1 {
  @apply text-xl text-slate-800 font-[vazirMedium];
}
.typogrophy-2 {
  @apply text-lg text-slate-800 font-[vazirMedium];
}
.typogrophy-3 {
  @apply text-base text-slate-800 font-[vazir];
}
.typogrophy-4 {
  @apply text-sm text-slate-800 font-[vazir];
}
.typogrophy-5 {
  @apply text-xs text-slate-800 font-[vazir];
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F86A2E;
  --primary-color-5: rgba(248, 106, 46, 0.05);
  --primary-color-10: rgba(248, 106, 46, 0.1);
  --primary-color-20: rgba(248, 106, 46, 0.2);
  --primary-color-30: rgba(248, 106, 46, 0.3);
  --primary-color-40: rgba(248, 106, 46, 0.4);
  --primary-color-50: rgba(248, 106, 46, 0.5);
  --primary-color-60: rgba(248, 106, 46, 0.6);
  --primary-color-70: rgba(248, 106, 46, 0.7);
  --primary-color-80: rgba(248, 106, 46, 0.8);
  --primary-color-90: rgba(248, 106, 46, 0.9);
  --primary-color-95: rgba(248, 106, 46, 0.95);
  --primary-color-dark: #f15d1e;
  --primary-color-darker: #e35112;
  
  @apply text-[14px] xl:text-[16px] 2xl:text-[18px];
}
  
  
  @font-face {
    font-family: iranyekan100;
    src: url(/fonts/iranyekan/Qs_Iranyekan-thin.ttf);
  }
  @font-face {
    font-family: iranyekan200;
    src: url(/fonts/iranyekan/Qs_Iranyekan-light.ttf);
  }
  @font-face {
    font-family: iranyekan300;
    src: url(/fonts/iranyekan/Qs_Iranyekan.ttf);
  }
  @font-face {
    font-family: iranyekan400;
    src: url(/fonts/iranyekan/Qs_Iranyekan-bold.ttf);
  }
  @font-face {
    font-family: iranyekan500;
    src: url(/fonts/iranyekan/Qs_Iranyekan-medium.ttf);
  }
  @font-face {
    font-family: iranyekan600;
    src: url(/fonts/iranyekan/Qs_Iranyekan-extrabold.ttf);
  }
  @font-face {
    font-family: iranyekan700;
    src: url(/fonts/iranyekan/Qs_Iranyekan-black.ttf);
  }
  @font-face {
    font-family: iranyekan800;
    src: url(/fonts/iranyekan/Qs_Iranyekan-extrablack.ttf);
  }
  
  /* vazir */
  @font-face {
    font-family: vazirThin;
    src: url(/fonts/vazir/Vazir-Thin.ttf);
  }
  @font-face {
    font-family: vazirLight;
    src: url(/fonts/vazir/Vazir-Light.ttf);
  }
  @font-face {
    font-family: vazir;
    src: url(/fonts/vazir/Vazir.ttf);
  }
  @font-face {
    font-family: vazirMedium;
    src: url(/fonts/vazir/Vazir-Medium.ttf);
  }
  @font-face {
    font-family: vazirBold;
    src: url(/fonts/vazir/Vazir-Bold.ttf);
  }
  
  /* forte */
  @font-face {
    font-family: forte;
    src: url(/fonts/forte.ttf);
  }



@keyframes scroll-1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
  
.scroll-from-100-to-negative-100 {
  animation: scroll-1 20s 0s linear infinite;
}